<div class="panier-container">
  <h2>{{ 'panier.titre' | translate }}</h2>

  <p *ngIf="panierService.table">{{ 'panier.table' | translate: { numero: panierService.table } }}</p>

  <div *ngIf="panierService.panier.length === 0">
    <p>{{ 'panier.vide' | translate }}</p>
    <button routerLink="/menu">{{ 'panier.retourMenu' | translate }}</button>
  </div>

  <div *ngFor="let item of panierService.panier" class="panier-item">
    <span class="panier-item-nom">{{ item.plat.nom }}</span>
    <span class="panier-item-prix">{{ item.plat.prix * item.quantite }} FCFA</span>
    <div class="quantite-controle">
      <button class="btn-quantite" (click)="retirer(item.plat.id)">-</button>
      <span class="quantite-valeur">{{ item.quantite }}</span>
      <button class="btn-quantite" (click)="ajouter(item.plat)">+</button>
    </div>
  </div>

  <div *ngIf="panierService.mode === 'livraison' && panierService.panier.length > 0" class="livraison-form">
    <h3>{{ 'panier.livraisonTitre' | translate }}</h3>

    <div class="champ">
      <input
        type="text"
        [placeholder]="'panier.adressePlaceholder' | translate"
        [(ngModel)]="panierService.adresse"
        [class.invalide]="erreurAdresse"
        (blur)="validerAdresse()"
      />
      <p *ngIf="erreurAdresse" class="erreur-champ">{{ erreurAdresse }}</p>
    </div>

    <div class="champ">
      <input
        type="tel"
        [placeholder]="'panier.telephonePlaceholder' | translate"
        [(ngModel)]="panierService.telephone"
        [class.invalide]="erreurTelephone"
        (blur)="validerTelephone()"
      />
      <p *ngIf="erreurTelephone" class="erreur-champ">{{ erreurTelephone }}</p>
    </div>
  </div>