<div class="menu-container">
  <h2>{{ 'menu.titre' | translate }}</h2>

  <p *ngIf="table">{{ 'menu.table' | translate: { numero: table } }}</p>
  <div class="panier-resume" *ngIf="panierService.panier.length > 0">
    <p>{{ 'menu.articlesPanier' | translate: { nombre: panierService.panier.length } }}</p>
    <button routerLink="/panier">{{ 'menu.voirPanier' | translate }}</button>
  </div>

  <div class="recherche-barre" *ngIf="chargementTermine">
    <input
      type="text"
      [placeholder]="'menu.rechercher' | translate"
      [(ngModel)]="recherche"
    />
  </div>

  <p *ngIf="!chargementTermine" class="chargement">{{ 'menu.chargement' | translate }}</p>

  <ng-container *ngIf="chargementTermine">
    <p *ngIf="categoriesAffichees.length === 0" class="aucun-resultat">
      {{ 'menu.aucunResultat' | translate: { recherche: recherche } }}
    </p>

    <div class="categorie-section" *ngFor="let categorie of categoriesAffichees">
      <h3 class="categorie-titre">{{ categorie.nom }}</h3>

      <div class="plat-card" *ngFor="let plat of categorie.plats">
        <h4>{{ plat.nom }}</h4>
        <p>{{ plat.description }}</p>
        <p class="prix">{{ plat.prix }} FCFA</p>
        <button (click)="ajouterAuPanier(plat)">{{ 'menu.ajouterPanier' | translate }}</button>
      </div>
    </div>
  </ng-container>
</div>