<div class="localite-container">
  <h2>{{ 'localite.titre' | translate }}</h2>
  <p>{{ 'localite.sousTitre' | translate }}</p>

  <p *ngIf="!chargementTermine" class="chargement">{{ 'localite.chargement' | translate }}</p>

  <div class="localite-liste" *ngIf="chargementTermine">
    <button *ngFor="let localite of localites" (click)="choisirLocalite(localite)">
      {{ localite }}
    </button>
    <p *ngIf="localites.length === 0" class="vide">{{ 'localite.aucuneLocalite' | translate }}</p>
  </div>
</div>