<div class="status-container">
  <h2>{{ 'commandeStatus.titre' | translate }}</h2>

  <div class="etapes">
    <div
      *ngFor="let etape of etapes; let i = index"
      class="etape"
      [class.active]="getIndexEtape() >= i"
    >
      <span class="etape-numero">{{ i + 1 }}</span>
      <span class="etape-nom">{{ etapesCommande.libelle(etape) }}</span>
    </div>
  </div>

  <p *ngIf="statutActuel === 'servie'" class="message-final">
    {{ 'commandeStatus.messageServie' | translate }}
  </p>

  <p *ngIf="statutActuel === 'livrée'" class="message-final">
    {{ 'commandeStatus.messageLivree' | translate }}
  </p>

  <button *ngIf="statutActuel === 'servie' || statutActuel === 'livrée'" (click)="telechargerFacture()">
    {{ 'commandeStatus.telechargerFacture' | translate }}
  </button>

  <button routerLink="/menu">{{ 'commandeStatus.nouvelleCommande' | translate }}</button>
</div>